@import "colors.css";

html, body, input,select{
    margin: 0;
    color: #000;
}


.nav{
    height: 50px;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
    color: #000;
}

.nav-container{
    width: 100%;
    display: inline-block;
}

.nav-logo{
    margin-left: 20px;
    margin-top: 16px;
    display: inline-block;
    float: left;
}

.nav-user{
    margin-right: 20px;
    margin-top: 16px;
    display: inline-block;
    float: right;
}


.no-products-error{
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.no-products-error p{
    font-size: 2rem;
}

button{
    margin: auto;
    float: none;
    width: 100%;
}

.add-category-image{
     text-align: center;
     width: 100%;
     height: 150px;
     background:
         /* top, transparent red, faked with gradient */
             linear-gradient(
                     rgba(0, 0, 0, 0.45),
                     rgba(0, 0, 0, 0.45)
             ),
                 /* bottom, image */
             url(../images/appconf.jpg) center/cover no-repeat;
 }


.add-product-image{
    text-align: center;
    width: 100%;
    height: 150px;
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),
                /* bottom, image */
            url(../images/appconf.jpg) center/cover no-repeat;
}

.register-outer{
    border: none;
    padding: 0;
}

.input-wrapper input:not([disabled]):focus~.input-placeholder,
.input-wrapper.hasValue input:not([disabled])~.input-placeholder
{
    -webkit-transform: scale(.78) translateY(-30px) translateX(-60px);
    transform: scale(.78) translateY(-30px) translateX(-60px);

}


.product-card{
    margin: 5px 12px;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    width: 350px;
}

.product-card:hover{
    box-shadow: none;
}

.product-image{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.product-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.product-card-overlay{
    position: absolute;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    height: 200px;
    width: 350px;
    color: #fff;
}

.product-name {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%,-5%);
}

.function-p{
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translate(-50%,-0%);
    font-size: 10px;
    display: inline-block;
}

.content-container{
    width: 90%;
    margin:50px auto;
}

.addons{
    padding: 20px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 2rem;
}

.addon-group{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    max-height: 415px;
    overflow: scroll;

}

.addon-setting{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 415px;
    max-height: 415px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-x: -moz-hidden-unscrollable;
}

.addon-group-prds{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    max-height: 415px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-x: -moz-hidden-unscrollable;
}

.addon-setting-prds{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 415px;
    max-height: 415px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-x: -moz-hidden-unscrollable;
}


.addon-items{
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-gap: 20px;
}

.addon-count{
    display: grid;
    grid-template-columns: 50% 20%;
    grid-gap: 2em;
}

.addon-delete{
    margin-left: -8px;
    padding-top: 13px;
}

.variant-items{
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-gap: 20px;
}

.v-items{
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-gap: 20px;
}

.category-container {
    display: grid;
    grid-template-columns: 84% 10%;
    grid-gap: 1rem;
}

.setting-container{
    display: grid;
    grid-template-columns:20% 70%;
    grid-gap: 3rem;
}

.setting-menu-item {
    padding: 5px 20px;
}

.setting-menu{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: block;
    height: 186px;
}

.setting-controls{
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 15px 32px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}


#pickup-menu{
    color: #18aebf;
}

.variant-container{
    width: 60%;
    margin: auto;
    max-height: 415px;
    overflow: scroll;
}

.state-form{
    display: grid;
    grid-template-columns: 40% 20% 15% 20% 5%;
}

.add-btn{
    width: auto;
    padding: 0px 30px;
    float: right;
    margin-top: 15px;
}

.secondary-btn{
    float: right;
    background: none;
    color: #1a73e8;
    border: 1px solid #1a73e8;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}

.alert-container-success{
     height: 80px;
     width: 100%;
     background: #d4edda;
     color: #155724;
     position: absolute;
     z-index: 100;
 }

.alert-container-error{
    height: 80px;
    width: 100%;
    background: #f8d7da;
    color: #721c24;
    position: absolute;
    z-index: 100;
}

.alert-text{
    margin: 32px;
}


.delivery-states{
    display: none;
}

.panel-controls{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black
}


.category-add-tab{
    width: auto;
    border: none;
    height: 26px;
    padding: 0px 0px 0px 10px;
}