
/* Modal Content/Box */
.modal-content {
    background-color: #2b2b2b;
    border: 1px solid #888;
    width: 800px !important; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.disable-overlay{
    height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    margin: 0px auto;
    display: none;
}