/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}


.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabset {
    max-width: 65em;
}


/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:first-child {
    display: block;
}


.tabset > a {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > a::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset > a:hover,
.tabset > input:focus + a {
    color: #06c;
}

.tabset > a:hover::after,
.tabset > input:focus + a::after,
.tabset > input:checked + a::after {
    background: #06c;
}

.tabset > input:checked + a {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabset {
    max-width: 65em;
}

a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}




/*
 CSS for the main interaction
*/
.tabsetp > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabsetp .tab-panel {
    display: none;
}

.tabsetp > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabsetp > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabsetp > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabsetp > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabsetp > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabsetp > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}


.tabsetp > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabsetp > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabsetp > label:hover,
.tabsetp > input:focus + label {
    color: #06c;
}

.tabsetp > label:hover::after,
.tabsetp > input:focus + label::after,
.tabsetp > input:checked + label::after {
    background: #06c;
}

.tabsetp > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabsetp {
    max-width: 65em;
}